<h3><%= newest_song.name %> by <a href="/artists/<%= newest_song.artist.slug %>"><%= newest_song.artist.name %></a></h3>
<h4>Genres:<h4>
  <ul>
    <% newest_song.genres.each do |genre| %>
      <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
    <% end %>
  </ul>
